.Wrapper {
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    padding: 10px;
    z-index: 99;
    width: 100%;
    height: 60px;
    background-color: yellowgreen;
    transition: top 500ms ease-out;
    overflow: hidden;
}
.Wrapper.Active {
    top: 0;
}
.Wrapper p {
    margin: 0;
}
.Notification {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16px 0 6px;
    width: 100%;
    color: white;
}
.Close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 4px 9px;
    border-radius: 50%;
    z-index: 9;
}
.Close:hover {
    background-color: rgb(211, 57, 57);
    color: white;
}

.Content {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px !important;
}
.SubContent {
    font-size: 1em;
}

@media screen and (max-width: 720px) {
    .Content {
        font-size: 1.8em;
    }
    .SubContent {
        font-size: .7em;
    }
}