@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --table-background-color: rgb(223, 237, 241); */
    /* --table-border-color: rgb(178, 191, 196); */
    /* --table-hover-bg-color: rgb(109, 192, 223); */
    /* --table-hover-color: white; */
    --table-text-color: white;
    --table-hover-color: black;
    --table-border-color: floralwhite;
    --table-background-color: rgb(143, 31, 64);
    --table-hover-bg-color: white;
    --table-inactive-bg-color: silver;
    --button-success-bg-color: #28a745;
    --button-success-border-color: #28a745;
    --button-primary-bg-color: steelblue;
    --button-primary-border-color: rgb(45, 87, 121);
    /* --main-background-color: #143581; */
    --main-background-color: cadetblue;
    --main-background-color: rebeccapurple;
    --main-background-color: steelblue;
    --main-background-color: floralwhite;
    --navigation-background-color: #092158;
    --main-red: rgb(143, 31, 64);
    /* --countdown-color: yellowgreen; */
    --countdown-color: dodgerblue;
    --transparent-dark: rgba(0, 0, 0, .8);
}
/* darkslateblue, indigo, rebeccapurple, steelblue cadetblue,  coral, firebrik, darkred, */
/* HTML & Body */
* {
    box-sizing: border-box;
}
hmtl, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    background-color: var(--main-background-color);
}
h2 {
    font-weight: 400;
}

p {
    margin: 10px 0;
}

/* Container Wrappers */
.page {
    display: flex;
    justify-content: center;
    background-color: var(--main-background-color);
}
.nav .page {
    /* background: var(--main-background-color); */
    background: var(--main-red);
}
.main-container {
    width: 100%;
    max-width: 1140px;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.input.plain {
    margin: 0;
    padding: 0;
    background-color: inherit;
    font-size: 1em;
    border: none;
    outline: none;
    width: 100px;
}
h2.room-title {
    margin: 0;
    padding: 0;
}

/* Navigation */
.nav {
    font-size: 2em;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: steelblue; */
    /* background-color: var(--navigation-background-color) !important; */
    /* background-color: var(--main-background-color) !important; */
    background-color: var(--main-red) !important;
    color: white;
    text-align: center;
}
/* .nav .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} */
.nav a {
    color: inherit;
    text-decoration: none;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* INDEX PAGE */
.index {
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    margin: 60px 0;
}
.index .wrapper {
    height: calc(100vh - 220px);
    display: flex;
}
.index .demo {
    width: 60%;
    /* overflow: hidden; */
    /* border-radius: 50%; */
    /* border: 1px solid white; */
    /* background-color: white; */
    /* width: 40vw !important;
    height: 40vw; */
}
.index .demo .game-container {
    /* margin-top: -120px; */
    margin-top: -90px;
    transform: scale(.8);
    border: 2px dashed lightgray;
}
.game-modes {
    position: relative;
    width: 40%;
}
.game-modes h2 {
    margin: 0;
    font-size: 3em;
}
.game-modes p {
    font-size: 1em;
}
/* .game-modes .game-mode.card:first-of-type {
    margin-top: -60px;
    margin-left: -30px;
    width: 16vw;
    height: 16vw;
} */
.game-modes .game-mode.card {
    padding: 20px;
    border: 4px dashed yellowgreen;
    border: 2px dashed darkgray;
    color: steelblue;
    color: rebeccapurple;
    color: black;
    /* text-align: center; */
    border-radius: 10px;
    /* border-radius: 50%; */
    /* background-color: white; */
    /* width: 26vw; */
    /* height: 26vw; */
    /* min-width: 200px; */
    /* min-height: 200px; */
}
/* .game-modes .game-mode.card:last-of-type {
    position: absolute;
    left: -3vw;
    bottom: -5vw;
} */
.game-modes .buttons {
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.game-button {
    /* background-color: yellowgreen; */
    color: white;
    background-color: var(--main-red);
    border-color: var(--main-red) !important;
    font-size: 1.4em;
    box-shadow: -1px 4px 6px 1px rgba(31, 6, 14, 0.3) !important;
}
.game-button.small {
    font-size: 1em;
    padding: 6px;
}

@media screen and (max-width: 720px) {
    .index {
        margin: 0;
        margin-top: 30px;
    }
    .index .wrapper {
        padding: 0 10px;
    }
    .index .game-modes, .index .demo {
        width: 100%;
    }
    .index .game-modes h2 {
        font-size: 1.6em;
        font-weight: 500;
    }
    .index .game-modes p {
        font-size: .8em;
    }
    .index .wrapper {
        flex-direction: column;
        height: calc(100vh - 60px);
    }
    .index .game-modes .game-mode.card {
        padding: 10px;
    }
    .index .game-modes .buttons {
        margin-top: 20px;
    }
    .index .demo .game-container {
        transform: scale(.50);
    }
    .index .demo .game-container .item {
        height: 10vh;
        font-size: .5em;
    }
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: var(--main-background-color);
    color: black;
}
.footer .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* BINGO START SCREEN */
/* ALSO LEGACY :( */
.game-start-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
}
.game-start-container button:not(:first-of-type) {
    margin-left: 40px;
}
.bingo-rules {
    margin-top: 100px;
    color: rgb(88, 88, 88);
}

/* game */
.game-screen {
    height: calc(100vh - 100px);
}

/* Bingo Table */
.bingo-table {
    color: var(--table-text-color);
    margin-top: 2em;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--table-border-color);
    display: grid;
    box-sizing: border-box;
}
.bingo-table .score {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 1;
    transition: opacity ease-out 1s;
}
.bingo-table .item .mini-score {
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellowgreen;
    font-size: 1em;
    padding: 4px;
    opacity: 0;
    border-radius: 0 0 4px 0;
    color: white;
}
.bingo-table .item:hover .mini-score {
    opacity: 1;
}

.score-anim {
    top: -100%;
    animation: score-anim .5s ease-out 0ms 1 forwards normal;
}
.grow {
    animation: grow 500ms cubic-bezier(0.075, 0.45, 0.45, 1.8) 500ms 1 forwards normal;
}
.delayed-fadeout {
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: delayed-fadeout 500ms ease-out 3s 1 forwards normal;
}
@keyframes delayed-fadeout {
    100% { opacity: 0 };
}
@keyframes score-anim {
    100% { top: 0 };
}
@keyframes grow {
    100% { font-size: 2em; };
}
.bingo-table .item {
    height: 12vh;
    padding: 10px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--table-border-color);
    background-color: var(--table-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.bingo-table .selected-item {
    background-color: slategray;
    background-color: gray;
    text-decoration: line-through;
}
.bingo-table .item.free-card {
    background-color: white;
    color: var(--table-hover-color);
    text-decoration: none;
}
.bingo-table .item:not(.free-card):hover {
    /* color: white; */
    color: var(--table-hover-color);
    background-color: var(--table-hover-bg-color);
}
.hide {
    display: none;
}

/* Bingo Status Bar */
.current-movie {
    font-size: 2.4em;
}
.game-status-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 110px;
    position: relative;
}
.game-status-bar .stats {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: .8em;
    color: gray;
    text-align: left;
}
.status-message {
    font-size: 1.2em;
}
.progress-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}
.progress-bar .countdown {
    background-color: var(--countdown-color);
    height: 10px;
    border-radius: 10px;
    width: 100%;
}
.progress-bar .countdown.active {
    animation: countdown 15s linear 0s 1 forwards;
}
@keyframes countdown {
    0% {width: 100%;}
    100% {width: 0%;}
}

/* Global CSS */
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-40 {
    margin-left: 40px;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.pb-40 {
    padding-bottom: 40px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.text-left {
    text-align: left;
}
.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-shadow: none;
    /* color: white; */
    border: 1px solid;
}
.btn a {
    color: inherit;
    text-decoration: none;
}
.btn-success {
    background-color: var(--button-success-bg-color);
    border-color: var(--button-success-border-color);
}
.btn-primary {
    background-color: var(--button-primary-bg-color);
    border-color: var(--button-primary-border-color);
}

.main-color {
    color: var(--main-red);
}
.text-500 {
    font-weight: 500;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: 600;
}

input {
    outline-color: var(--main-red);
}
p.note {
    color: gray;
    font-size: .8em;
}
.fadeout-s {
    opacity: 0 !important;
}
.fadeout {
    animation: fadeout 1s ease-out 5s 1 forwards normal;
}
@keyframes fadeout {
    0% { opacity: 100% }
    100% { opacity: 0% }
}
@keyframes fadein {
    0% { opacity: 0% }
    100% { opacity: 100% }
}

/* LOBBY */
.lobby {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    z-index: -1;
}
.lobby .creator-action-button {
    height: 45px;
}
.lobby h1 {
    margin-bottom: 40px;
}
.lobby .message {
    min-height: 40px;
}
.lobby input {
    width: 340px;
    padding: 6px 10px;
    font-size: 1.4em;
}
.lobby input.invalid {
    border: 2px solid tomato;
    border-radius: 4px;
    /* outline: 2px solid var(--main-red); */
}
.lobby .players {
    /* color: steelblue; */
    color: var(--main-red);
    font-weight: 600;
    font-size: 1.2em;
}
.lobby input.range {
    width: 200px;
}
.lobby .icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
}
.lobby .icon:hover .legend-tooltip {
    display: flex;
}

.lobby .settings-sidebar {
    position: absolute;
    right: 0;
    top: 20vh;
    width: 480px;
    height: 100%;
    max-height: 70vh;
    overflow-x: hidden;
    visibility: hidden;
}
.lobby .settings-sidebar.open {
    visibility: visible;
}
.lobby .settings-sidebar .wrapper {
    position: relative;
}
.lobby .settings-sidebar .wrapper .settings-container {
    /* width: 100%; */
    width: 480px;
    position: absolute;
    top: 0;
    right: -480px;
    transition: all 300ms ease-out;
}
.lobby .settings-sidebar .wrapper.open .settings-container {
    right: 0;
}

@media screen and (max-width: 720px) {
    .bingo-table .item {
        font-size: .8em;
        padding: 0;
    }
    .game-status-bar {
        height: 3em;
    }
    .current-movie {
        font-size: 2em;
    }
    .game-status-bar .stats {
        font-size: .75em;
        margin-top: -44px;
        display: flex;
    }
    .game-status-bar .stats p {
        margin-left: 14px;
    }

    .game-start-container .buttons {
        display: flex;
        flex-direction: column;
    }
    .game-start-container button {
        margin-left: 0px !important;
        margin-top: 20px;
    }
    .lobby .settings-sidebar {
        position: relative;
        width: 100%;
        margin: 0;
        top: 0;
        height: auto;
        max-height: 100%;
    }
    .lobby .settings-sidebar .wrapper {
        overflow-y: hidden;
    }
    .lobby .settings-sidebar .wrapper.open {
        overflow-y: auto;
    }
    .lobby .settings-sidebar .wrapper .settings-container {
        opacity: 0;
        margin-top: 200px;
        position: relative;
        width: 100%;
        right: inherit;
        transition: all 300ms ease-out;
        height: 0;
    }
    .lobby .settings-sidebar .wrapper.open .settings-container {
        opacity: 1;
        margin: 0;
        height: 100%;
    }
}


/* Switch */
.switch {
    position: relative;
}
.switch, .switch .container {
    width: 64px;
    border-radius: 4px;
    background-color: rgb(44, 44, 44);
    transition: background-color 300ms ease-out;
}
.switch, .switch .container, .switch .knob {
    border-radius: 4px;
    height: 30px;
}
.switch.active .container {
    background-color: yellowgreen;
}
.switch .container::after {
    content: 'OFF';
    line-height: 30px;
    position: absolute;
    right: 8px;
    top: 2px;
    vertical-align: middle;
    transition: all ease-out;
}
.switch.active .container::after {
    content: 'ON';
    right: 34px;
    top: 2px;
}
.switch .knob {
    top: -4px;
    left: 0;
    width: 24px;
    height: 38px;
    background-color: white;
    position: absolute;
    transition: all 300ms ease-out;
    cursor: pointer;
}
.switch.active .knob {
    left: 40px;
}
.switch.disabled .container {
    background-color: rgb(128, 128, 128);
    /* background-color: silver; */
}
.switch.disabled .knob {
    /* background-color: darkgray; */
    background-color: lightgray;
    cursor: not-allowed;
}


/* Single Player Settings */
.single-player-create {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

/* Settings Component */
.settings {
    text-align: left;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-red);
    width: 100%;
    max-width: 720px;
}
.settings .section {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.settings .col1 {
    width: 80%;
}
.settings .col2 {
    width: 20%;
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
}
.settings .option {
    font-size: 1.8em;
}
.settings .description {
    font-size: 1em;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
}
.settings .switch-col {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings .close {
    color: var(--main-red);
    background-color: white;
    padding: 5px 9px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .settings .col2.flex-column {
        justify-content: flex-start;
        margin-top: 18px;
    }

}



/* Tooltip */
.tooltip-container {
    /* position: relative; */
    position: absolute;
    left: -50px;
    margin-bottom: 0px;
    min-width: 120px;
}

.legend-tooltip {
    display: none;
    font-size: 12px;
    background-color: var(--transparent-dark);
    color: white;
    position: absolute;
    bottom: 34px;
    z-index: 999;
    max-width: 400px;
    padding: 4px 10px;
    border-radius: 4px;
}

.legend-tooltip.show {
    display: block;
}


.legend-tooltip:before {
    bottom: -18px;
    content: " ";
    display: block;
    height: 6px;
    left: calc(50% - 8px);
    margin: 0;
    padding: 0;
    position: absolute;
    border-color: var(--transparent-dark) transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
}



/* ROLES & ROLE CARDS */

.roles {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roles .wrapper {
    border: 1px solid silver;
    background-color: white;
    width: 100%;
    max-width: 1140px;
    width: 100%;
    padding: 20px 20px 60px;
    border-radius: 10px;
}
.roles .wrapper .role-cards {
    display: flex;
    justify-content: space-between;
}
.roles .wrapper .role-cards .role-card.revealed {
    width: 100%;
    /* max-width: 100%; */
    display: block;
    text-align: left;
}
.roles .wrapper .role-cards .role-card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    max-width: 100%;
    max-width: 18vw;
    min-height: 20vw;
    height: 20vh;
    background-color: var(--main-red);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    /* transition: width, opacity 500ms ease-out; */
    /* transition: all 500ms ease-out; */
}
.roles .wrapper .role-cards .role-card.hide {
    opacity: 0;
}
.roles .wrapper .role-cards .role-card.selected {
    background-color: gray;
    cursor: not-allowed;
}
.roles .wrapper .role-cards .role-card:not(.selected):not(.revealed):hover {
    background-color: steelblue;
}

@media screen and (max-width:720px) {
    .roles .wrapper .role-cards .role-card.revealed {
        max-width: 100%;
        height: 40vh;
    }

    
}