@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --table-background-color: rgb(223, 237, 241); */
    /* --table-border-color: rgb(178, 191, 196); */
    /* --table-hover-bg-color: rgb(109, 192, 223); */
    /* --table-hover-color: white; */
    --table-text-color: white;
    --table-hover-color: black;
    --table-border-color: floralwhite;
    --table-background-color: rgb(143, 31, 64);
    --table-hover-bg-color: white;
    --table-inactive-bg-color: silver;
    --button-success-bg-color: #28a745;
    --button-success-border-color: #28a745;
    --button-primary-bg-color: steelblue;
    --button-primary-border-color: rgb(45, 87, 121);
    /* --main-background-color: #143581; */
    --main-background-color: cadetblue;
    --main-background-color: rebeccapurple;
    --main-background-color: steelblue;
    --main-background-color: floralwhite;
    --navigation-background-color: #092158;
    --main-red: rgb(143, 31, 64);
    /* --countdown-color: yellowgreen; */
    --countdown-color: dodgerblue;
}
/* darkslateblue, indigo, rebeccapurple, steelblue cadetblue,  coral, firebrik, darkred, */
/* HTML & Body */
* {
    box-sizing: border-box;
}
hmtl, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    background-color: var(--main-background-color);
}
h2 {
    font-weight: 400;
}

p {
    margin: 10px 0;
}

/* Container Wrappers */
.page {
    display: flex;
    justify-content: center;
    background-color: var(--main-background-color);
}
.nav .page {
    /* background: var(--main-background-color); */
    background: var(--main-red);
}
.main-container {
    width: 100%;
    max-width: 1140px;
}
.w-100 {
    width: 100%;
}


/* Navigation */
.nav {
    font-size: 2em;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: steelblue; */
    /* background-color: var(--navigation-background-color) !important; */
    /* background-color: var(--main-background-color) !important; */
    background-color: var(--main-red) !important;
    color: white;
    text-align: center;
}
/* .nav .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} */
.nav a {
    color: inherit;
    text-decoration: none;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* INDEX PAGE */
.index {
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    margin: 60px 0;
}
.index .wrapper {
    height: calc(100vh - 220px);
    display: flex;
}
.index .demo {
    width: 60%;
    /* overflow: hidden; */
    /* border-radius: 50%; */
    /* border: 1px solid white; */
    /* background-color: white; */
    /* width: 40vw !important;
    height: 40vw; */
}
.index .demo .game-container {
    margin-top: -120px;
    transform: scale(.8);
}
.game-modes {
    position: relative;
    width: 40%;
}
.game-modes h2 {
    margin: 0;
    font-size: 3em;
}
.game-modes p {
    font-size: 1em;
}
/* .game-modes .game-mode.card:first-of-type {
    margin-top: -60px;
    margin-left: -30px;
    width: 16vw;
    height: 16vw;
} */
.game-modes .game-mode.card {
    padding: 20px;
    border: 4px dashed yellowgreen;
    border: 2px dashed darkgray;
    color: steelblue;
    color: rebeccapurple;
    color: black;
    /* text-align: center; */
    border-radius: 10px;
    /* border-radius: 50%; */
    /* background-color: white; */
    /* width: 26vw; */
    /* height: 26vw; */
    /* min-width: 200px; */
    /* min-height: 200px; */
}
/* .game-modes .game-mode.card:last-of-type {
    position: absolute;
    left: -3vw;
    bottom: -5vw;
} */
.game-modes .buttons {
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.game-button {
    /* background-color: yellowgreen; */
    /* color: black; */
    background-color: var(--main-red);
    border-color: var(--main-red) !important;
    font-size: 1.4em;
    box-shadow: -1px 4px 6px 1px rgba(31, 6, 14, 0.3) !important;
}

@media screen and (max-width: 720px) {
    .index {
        margin: 0;
        margin-top: 30px;
    }
    .index .wrapper {
        padding: 0 10px;
    }
    .index .game-modes, .index .demo {
        width: 100%;
    }
    .index .game-modes h2 {
        font-size: 1.6em;
        font-weight: 500;
    }
    .index .game-modes p {
        font-size: .8em;
    }
    .index .wrapper {
        flex-direction: column;
        height: calc(100vh - 60px);
    }
    .index .game-modes .game-mode.card {
        padding: 10px;
    }
    .index .game-modes .buttons {
        margin-top: 20px;
    }
    .index .demo .game-container {
        transform: scale(.50);
    }
    .index .demo .game-container .item {
        height: 10vh;
        font-size: .5em;
    }
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: var(--main-background-color);
    color: black;
}
.footer .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* BINGO START SCREEN */
/* ALSO LEGACY :( */
.game-start-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
}
.game-start-container button:not(:first-of-type) {
    margin-left: 40px;
}
.bingo-rules {
    margin-top: 100px;
    color: rgb(88, 88, 88);
}

/* game */
.game-screen {
    height: calc(100vh - 100px);
}

/* Bingo Table */
.bingo-table {
    color: var(--table-text-color);

    margin-top: 2em;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--table-border-color);
    display: grid;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
}
.bingo-table .item {
    height: 12vh;
    padding: 10px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--table-border-color);
    background-color: var(--table-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
}
.bingo-table .selected-item {
    background-color: lightgray;
    text-decoration: line-through;
}
.bingo-table .item.free-card {
    background-color: white;
    color: var(--table-hover-color);
}
.bingo-table .item:not(.free-card):hover {
    /* color: white; */
    color: var(--table-hover-color);
    background-color: var(--table-hover-bg-color);
}


/* Bingo Status Bar */
.current-movie {
    font-size: 2.4em;
}
.game-status-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 110px;
    position: relative;
}
.game-status-bar .stats {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: .8em;
    color: gray;
    text-align: left;
}
.status-message {
    font-size: 1.2em;
}
.progress-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}
.progress-bar .countdown {
    background-color: var(--countdown-color);
    height: 10px;
    border-radius: 10px;
    width: 100%;
}
.progress-bar .countdown.active {
    animation: countdown 15s linear 0s 1 forwards;
}
@keyframes countdown {
    0% {width: 100%;}
    100% {width: 0%;}
}

/* Global CSS */
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-40 {
    margin-left: 40px;
}
.pb-40 {
    padding-bottom: 40px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.text-left {
    text-align: left;
}
.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-shadow: none;
    color: white;
    border: 1px solid;
}
.btn a {
    color: inherit;
    text-decoration: none;
}
.btn-success {
    background-color: var(--button-success-bg-color);
    border-color: var(--button-success-border-color);
}
.btn-primary {
    background-color: var(--button-primary-bg-color);
    border-color: var(--button-primary-border-color);
}

.main-color {
    color: var(--main-red);
}
.text-500 {
    font-weight: 500;
}
.bold {
    font-weight: 600;
}

input {
    outline-color: var(--main-red);
}
p.note {
    color: gray;
    font-size: .8em;
}


/* LOBBY */
.lobby {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    z-index: -1;
}
.lobby h1 {
    margin-bottom: 40px;
}
.lobby .message {
    min-height: 40px;
}
.lobby input {
    width: 340px;
    padding: 6px 10px;
    font-size: 1.4em;
}
.lobby input.invalid {
    border: 2px solid tomato;
    border-radius: 4px;
    /* outline: 2px solid var(--main-red); */
}
.lobby .players {
    color: steelblue;
    font-weight: 600;
}
/* .lobby p.note {
    color: gray;
    font-size: .8em;
} */
.lobby input.range {
    width: 200px;
}

@media screen and (max-width: 720px) {
    .bingo-table .item {
        font-size: .8em;
        padding: 0;
    }
    .game-status-bar {
        height: 3em;
    }
    .current-movie {
        font-size: 2em;
    }
    .game-status-bar .stats {
        font-size: .75em;
        margin-top: -44px;
        display: flex;
    }
    .game-status-bar .stats p {
        margin-left: 14px;
    }

    .game-start-container .buttons {
        display: flex;
        flex-direction: column;
    }
    .game-start-container button {
        margin-left: 0px !important;
        margin-top: 20px;
    }
}


/* Switch */
.switch {
    position: relative;
}
.switch, .switch .container {
    width: 64px;
    border-radius: 4px;
    background-color: rgb(44, 44, 44);
    transition: background-color 300ms ease-out;
}
.switch, .switch .container, .switch .knob {
    border-radius: 4px;
    height: 30px;
}
.switch.active .container {
    background-color: yellowgreen;
}
.switch .container::after {
    content: 'OFF';
    line-height: 30px;
    position: absolute;
    right: 8px;
    top: 2px;
    vertical-align: middle;
    /* top: 10px; */
    transition: all ease-out;
}
.switch.active .container::after {
    content: 'ON';
    right: 34px;
    top: 2px;
}
.switch .knob {
    top: -4px;
    left: 0;
    width: 24px;
    height: 38px;
    background-color: white;
    position: absolute;
    transition: all 300ms ease-out;
    cursor: pointer;
}
.switch.active .knob {
    left: 40px;
}
.switch.disabled .container {
    background-color: rgb(128, 128, 128);
    /* background-color: silver; */
}
.switch.disabled .knob {
    /* background-color: darkgray; */
    background-color: lightgray;
    cursor: not-allowed;
}

/* Settings Component */
.settings {
    text-align: left;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-red);
    width: 100%;
    max-width: 720px;
}
.settings .col1 {
    width: 80%;
}
.settings .col2 {
    width: 20%;
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
}
.settings .option {
    font-size: 1.8em;
}
.settings .description {
    font-size: 1em;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
}
.settings .switch-col {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .settings .col2.flex-column {
        justify-content: flex-start;
        margin-top: 18px;
    }
}