:root {
    --table-text-color: black;
    --table-border-color: rgb(178, 191, 196);
    --table-background-color: rgb(223, 237, 241);
    --table-hover-bg-color: rgb(109, 192, 223);
    --table-hover-color: white;
    --table-inactive-bg-color: silver;
    --button-success-bg-color: #28a745;
    --button-success-border-color: #28a745;
    --button-primary-bg-color: steelblue;
    --button-primary-border-color: rgb(45, 87, 121);
}
/* HTML & Body */
hmtl, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 10px 0;
}

/* Container Wrappers */
.page {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1140px;
}
.w-100 {
    width: 100%;
}


/* Navigation */
.nav {
    font-size: 2em;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    background-color: steelblue;    
    color: white;
    text-align: center;
}
/* .nav .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} */
.nav a {
    color: inherit;
    text-decoration: none;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* BINGO START SCREEN */
.game-start-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
}
.game-start-container button:not(:first-of-type) {
    margin-left: 40px;
}
.bingo-rules {
    margin-top: 100px;
    color: rgb(88, 88, 88);
}

/* Bingo Table */
.bingo-table {
    color: var(--table-text-color);

    margin-top: 2em;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--table-border-color);
    display: grid;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
}
.bingo-table .item {
    height: 12vh;
    padding: 10px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--table-border-color);
    background-color: var(--table-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
}
.bingo-table .selected-item {
    background-color: lightgray;
    text-decoration: line-through;
}
.bingo-table .item.free-card {
    background-color: white;
}
.bingo-table .item:not(.free-card):hover {
    color: white;
    background-color: var(--table-hover-bg-color);
}


/* Bingo Status Bar */
.current-movie {
    font-size: 2.4em;
}
.game-status-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 5em;
    position: relative;
}
.game-status-bar .stats {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: .8em;
    color: gray;
    text-align: left;
}
.status-message {
    font-size: 1.2em;
}
.progress-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}
.progress-bar .countdown {
    background-color: dodgerblue;
    height: 10px;
    border-radius: 10px;
    width: 100%;
}
.progress-bar .countdown.active {
    animation: countdown 15s linear 0s 1 forwards;
}
@keyframes countdown {
    0% {width: 100%;}
    100% {width: 0%;}
}

/* Global CSS */
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-40 {
    margin-left: 40px;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.text-left {
    text-align: left;
}
.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-shadow: none;
    color: white;
    border: 1px solid;
}
.btn a {
    color: inherit;
    text-decoration: none;
}
.btn-success {
    background-color: var(--button-success-bg-color);
    border-color: var(--button-success-border-color);
}
.btn-primary {
    background-color: var(--button-primary-bg-color);
    border-color: var(--button-primary-border-color);
}


/* LOBBY */
.lobby {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    z-index: -1;
}
.lobby input {
    width: 270px;
    padding: 4px;
}
.lobby .players {
    color: steelblue;
    font-weight: 600;

}

@media screen and (max-width: 720px) {
    .bingo-table .item {
        font-size: .8em;
        padding: 0;
    }
    .game-status-bar {
        height: 3em;
    }
    .current-movie {
        font-size: 2em;
    }
    .game-status-bar .stats {
        font-size: .75em;
        margin-top: -44px;
        display: flex;
    }
    .game-status-bar .stats p {
        margin-left: 14px;
    }

    .game-start-container .buttons {
        display: flex;
        flex-direction: column;
    }
    .game-start-container button {
        margin-left: 0px !important;
        margin-top: 20px;
    }
}